
* {
    transition-duration: 0.8s;
    padding: 0;
    margin: 0;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}
// 공통
.widrh {
    max-width: 1600px;
    margin: 0 auto;
}


.section {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 32px;
    text-align: center;
    overflow: hidden;
    &:nth-child(1) { background-color: #ff9999; } // 빨간 계열
    &:nth-child(2) { background-color: #ffcc99; } // 주황 계열
    &:nth-child(3) { background-color: #ffff99; } // 노랑 계열
    &:nth-child(4) { background-color: #ccff99; } // 연두 계열
    &:nth-child(5) { background-color: #99ccff; } // 파랑 계열
    &:nth-child(6) { background-color: #cc99ff; } // 보라 계열
}
