@charset "UTF-8";
@import url("//fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
@font-face {
  font-family: "NotoSansKR";
  font-weight: 100;
  src: url(/font/noto/NotoSansKR-Thin.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 200;
  src: url(/font/noto/NotoSansKR-ExtraLight.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 300;
  src: url(/font/noto/NotoSansKR-Light.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url(/font/noto/NotoSansKR-Regular.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;
  src: url(/font/noto/NotoSansKR-Medium.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 600;
  src: url(/font/noto/NotoSansKR-SemiBold.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  src: url(/font/noto/NotoSansKR-Bold.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 800;
  src: url(/font/noto/NotoSansKR-ExtraBold.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 900;
  src: url(/font/noto/NotoSansKR-Black.woff) format(woff);
}
* {
  transition-duration: 0.8s;
  padding: 0;
  margin: 0;
}

body {
  -ms-overflow-style: none;
  font-family: "NotoSansKR", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.width {
  width: 92% !important;
  max-width: 1600px;
  margin: 0 auto;
}

.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 32px;
  text-align: center;
  overflow: hidden;
}
.section:nth-child(1) .maintext-box {
  height: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding-top: 4rem;
  opacity: 0;
}
.section:nth-child(1) .maintext-box img {
  width: 100%;
  max-width: 800px;
}
.section:nth-child(1) .slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}
.section:nth-child(1) .slide:nth-child(1) {
  background-image: url("/image/slide1.png"); /* 첫 번째 이미지 */
  z-index: 1;
}
.section:nth-child(1) .slide:nth-child(2) {
  background-image: url("/image/slide2.png"); /* 첫 번째 이미지 */
  z-index: 2;
  opacity: 0; /* 처음에는 안 보이게 */
  transform: translateY(-100%); /* 위위에 배치 */
  animation: slideDown 1s forwards 1s;
}
.section:nth-child(2) {
  width: 100%;
  background: url("/image/2_slide1.png") 0 center/cover no-repeat; /* 첫 번째 이미지 */
  padding-top: 2rem;
}
.section:nth-child(2) .outline {
  opacity: 0;
}
.section:nth-child(2) .outline h2 {
  font-size: 32px;
  font-weight: 200;
  color: #2A3D57;
}
.section:nth-child(2) .outline p {
  font-size: 22px;
  margin-top: 43px;
  color: #333333;
  line-height: 44px;
  letter-spacing: 0.2em;
  font-weight: 100;
}
.section:nth-child(2) .outline-text {
  text-align: left;
  margin-top: 2em;
}
.section:nth-child(2) .outline-text h3 {
  font-size: 24px;
  font-weight: 500;
  color: #666666;
  line-height: 48px;
}
.section:nth-child(2) .outline-text p {
  font-size: 21px;
  margin-top: 0;
  color: #666666;
  line-height: 38px;
  letter-spacing: 0;
  font-weight: 200;
}
.section:nth-child(2) .outline-text:nth-last-child(1) {
  margin-top: 37px;
}
.section:nth-child(2) .outline-text span {
  color: #5487C1;
  font-weight: 300;
}
.section:nth-child(2) .outline-lasttext {
  color: #5487C1;
  font-weight: 600;
  font-size: 24px;
  line-height: 63px;
  margin-top: 90px;
}
.section:nth-child(3) {
  display: flex;
  align-items: center;
}
.section:nth-child(3) .philosophy {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  font-family: "nanummyeongjo", sans-serif;
  gap: 20px;
}
.section:nth-child(3) .philosophy .img_box img {
  max-width: 550px;
  width: 50vw;
}
.section:nth-child(3) .philosophy .img_box p {
  font-size: 28px;
  margin-top: 25px;
}
.section:nth-child(3) .philosophy .divider {
  width: 2px; /* 선 두께 */
  height: 268.5px; /* 선 높이 */
  background-color: #D2D0D0; /* 선 색상 */
  margin: 0 20px; /* 이미지와 텍스트 사이의 여백 */
}
.section:nth-child(3) .philosophy .text h1 {
  font-size: 32px;
  font-weight: bold;
}
.section:nth-child(3) .philosophy .text p {
  max-width: 810px;
  margin-top: 40px;
  font-family: "NotoSansKR", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #575757;
  line-height: 47px;
}
.section:nth-child(3) .philosophy .text span {
  font-weight: 700;
}
.section:nth-child(4) {
  position: relative;
}
.section:nth-child(4) .slider-container {
  height: 100vh; /* 슬라이드가 화면에 맞게 보이도록 조정 */
  position: relative;
  display: flex;
  transition: transform 2s ease;
}
.section:nth-child(4) .slider-container .slider {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 첫 번째 슬라이드 배경 이미지 */
  /* 두 번째 슬라이드 배경 이미지 */
}
.section:nth-child(4) .slider-container .slider:nth-child(1) {
  background: url("/image/4_slide1.png") center/cover no-repeat;
}
.section:nth-child(4) .slider-container .slider:nth-child(2) {
  background: url("/image/4_slide2.png") center/cover no-repeat;
}
.section:nth-child(4) .slider-container .slider:nth-child(3) {
  background: url("/image/4_slide3.png") center/cover no-repeat;
}
.section:nth-child(4) .slider-container .slider:nth-child(4) {
  background: url("/image/4_slide4.png") center/cover no-repeat;
}
.section:nth-child(4) .slider-container .slider:nth-child(5) {
  background: url("/image/4_slide5.png") center/cover no-repeat;
}
.section:nth-child(4) .slider-container .slider .slide {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
.section:nth-child(4) .slider-container .slider .slide img {
  display: block;
  min-width: 500px;
  max-width: 782.98px;
  width: 35vw;
}
.section:nth-child(4) .slider-container .slider .slide .text-content {
  width: 705px;
}
.section:nth-child(4) .slider-container .slider .slide .text-content h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.section:nth-child(4) .slider-container .slider .slide .text-content h3 {
  font-size: 36px;
  font-weight: 400;
  color: #b9b9b9;
  margin-top: 37px;
}
.section:nth-child(4) .slider-container .slider .slide .text-content p {
  font-size: 20px;
  line-height: 35px;
  color: #999999;
  font-weight: 300;
  margin-top: 85px;
}
.section:nth-child(4) .arrow-prev, .section:nth-child(4) .arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}
.section:nth-child(4) .arrow-prev img, .section:nth-child(4) .arrow-next img {
  width: 50px;
  height: 50px;
}
.section:nth-child(4) .arrow-prev {
  left: 64px;
}
.section:nth-child(4) .arrow-next {
  right: 64px;
}
.section:nth-child(4) .arrow-prev:hover, .section:nth-child(4) .arrow-next:hover {
  opacity: 0.8;
}
.section:nth-child(5) {
  display: flex;
  align-items: center;
  background: url("/image/ri_ba.png") center/cover no-repeat;
}
.section:nth-child(5) .ri_v {
  display: flex;
  text-align: initial;
  gap: 20px;
  justify-content: space-around;
}
.section:nth-child(5) .container {
  border-bottom: 1px solid #969696;
  padding-bottom: 10px;
}
.section:nth-child(5) .container h2 {
  position: relative;
  font-size: 21px;
}
.section:nth-child(5) .container h2::after {
  position: absolute;
  content: "";
  display: block;
  width: 35.5px; /* 밑줄 길이 */
  border-top: 5px solid #6D5F31;
  top: -50%;
}
.section:nth-child(5) .container .article-con {
  position: relative;
  max-width: 647.2px;
  border-top: 1px solid #969696;
  padding-top: 10px;
  padding-bottom: 2rem;
  margin-top: 10px;
}
.section:nth-child(5) .container .article-con h3 {
  font-size: 24px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 9px;
  font-weight: 700;
}
.section:nth-child(5) .container .article-con p {
  font-size: 16px;
  line-height: 27px;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.section:nth-child(5) .container .article-con span {
  position: absolute;
  right: 0;
  bottom: 0%;
  font-size: 16px;
  color: #666666;
}
.section:nth-child(5) .rivbox {
  border-bottom: none;
}
.section:nth-child(5) .rivbox .riv {
  margin-top: 37px;
  width: 750px;
}
.section:nth-child(5) .rivbox .riv img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section:nth-child(6) {
  background: url("/image/interview.png") center/cover no-repeat;
}
.section:nth-child(6) .inter {
  box-sizing: border-box;
}
.section:nth-child(7) {
  position: relative;
  background: url("/image/art_ba.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section:nth-child(7) .ba {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(4, 58, 2, 0.4235294118);
}
.section:nth-child(7) .work__categories {
  position: relative;
  margin: 40px;
  z-index: 2; /* 버튼 영역이 항상 위에 있도록 설정 */
}
.section:nth-child(7) .work__categories .category__btn {
  border-radius: 5px;
  font-size: 24px;
  padding: 12px 38px;
  position: relative;
  background-color: #B5C18E;
  color: #fff;
  border: none;
}
.section:nth-child(7) .work__categories .category__btn.selected,
.section:nth-child(7) .work__categories .category__btn:hover {
  background-color: #6B705C;
  color: #fff;
}
.section:nth-child(7) .work__categories .category__btn.selected .category__count,
.section:nth-child(7) .work__categories .category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}
.section:nth-child(7) .work__categories .category__count {
  background-color: #333333;
  border-radius: 50%;
  color: #fff;
  width: 22px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: -25px;
  right: 16px;
  opacity: 0;
  margin-top: 8px;
  transition: all 300ms ease-in;
}
.section:nth-child(7) .section__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section:nth-child(7) .section__container h1 {
  font-size: 58px;
  color: #2a3d2c;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 78px;
}
.section:nth-child(7) .section__container span {
  position: absolute;
  font-size: 18px;
  top: 180px;
  left: 0;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 3px;
}
.section:nth-child(7) .section__container .work__projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  opacity: 1;
  transition: all 300ms ease-out;
  gap: 20px;
  height: auto; /* 높이를 자동으로 설정 */
}
.section:nth-child(7) .section__container .work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}
.section:nth-child(7) .section__container .project {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 530px); /* 기본 너비 530px */
  grid-template-rows: 449px; /* 기본 높이 449px */
  width: 100%;
  height: 100%;
  background-color: #fff; /* 비어있는 공간 배경 */
}
.section:nth-child(7) .section__container .project.invisible {
  display: none;
}
.section:nth-child(7) .section__container .porject__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section:nth-child(7) .section__container .project__description {
  position: absolute;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 300ms ease-in;
}
.section:nth-child(7) .section__container .project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}
.section:nth-child(7) .section__container .project__description h3 {
  color: #a3ddff;
  font-size: 28px;
}
.section:nth-child(7) .section__container .project__description p {
  font-size: 18px;
}
.section:nth-child(7) .section__container .project__description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}
.section:nth-child(7) .section__container .no-projects-message {
  position: absolute;
  text-align: center;
  font-size: 28px;
  color: #8df800;
  left: 50%;
  transform: translate(-50%, 0%);
}
.section:nth-child(7) .section__container .message {
  font-size: 16px;
  width: 100%;
  text-align: right;
  color: #e2e2e2;
  margin-top: 38px;
}

/* 두 번째 이미지가 슬라이드처럼 서서히 이동하며 덮어씀 */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media all and (max-width: 1024px) {
  .section:nth-child(1) .maintext-box {
    align-items: center;
    justify-content: center;
  }
}
@media all and (max-width: 850px) {
  .slide:nth-child(1) {
    background-image: url("/image/mob_bg.png");
  }
  .section:nth-child(1) .maintext-box {
    padding-top: 0;
  }
}